body {
    font-family: Calibri, sans-serif;
    font-size: clamp(2vh, 1.5vw, 10vw);
    line-height: 1.5;
}

h1 {
    font-size: clamp(1vw, 5rem, 6vh);
    line-height: 1.15;
}

h2 {
    font-size: clamp(0.5vw, 4rem, 4vh);
    line-height: 1.25;
}